@model IEnumerable<VaporDomain.Model.Status>

@{
    ViewData["Title"] = "Статуси";
}

<h1 class="text-info">Статуси замовлень</h1>
<div class="alert alert-secondary bg-transparent border-secondary mt-3 mb-4" role="alert">
      Створення, редагування та видалення статусів вимкнено, оскільки вони є системними і використовуються для обробки кошика та покупок.
</div>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th class="text-end">Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle fw-bold fs-5">
                    @if (item.Id == 1)
                    {
                        <span class="text-warning">@item.Name</span>
                    }
                    else if (item.Id == 2)
                    {
                        <span class="text-success">@item.Name</span>
                    }
                    else if (item.Id == 3)
                    {
                        <span class="text-danger">@item.Name</span>
                    }
                    else
                    {
                        @item.Name
                    }
                </td>
            </tr>
        }
    </tbody>
</table>