@model VaporDomain.Model.Order

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалити</h1>

<h3>Ви впевненні, що хочете видалити це?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            <label>Ігри з замовлення</label>
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.OrderItems)
            {
                <div class="row">
                    <div class="col-6">
                        @item.Game.Title
                    </div>
                    <div class="col-4">
                        @item.Price $
                    </div>
                </div>
            }
            <label>Загальна ціна: @ViewBag.totalPrice $</label>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
