@model VaporDomain.Model.Game

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Гра</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleasedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dd>
        <dd class="col-sm-10">
            @foreach (var genre in Model.Genres)
            {
                <span>@genre.Name</span>
            
                <br />
            }
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dd>
        <dd class="col-sm-10">
            @foreach (var review in Model.Reviews)
            {
                <span>Користувач @review.User.Username</span>
                <span>Рейтинг @review.Raiting</span>
                <span>Коментарій @review.Content</span>
                <br />
            }
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHistories)
        </dd>
        <dd class="col-sm-10">
            @foreach (var priceHist in Model.PriceHistories)
            {
                <span>Стара ціна @priceHist.OldPrice</span>
                <span>Нова ціна @priceHist.NewPrice</span>
                <span>Дата зміни @priceHist.ChangedData</span>
                <br />
            }
        </dd>

        <a asp-controller="Reviews" asp-action="Create" asp-route-gameId="@Model.Id" >Написати відгук</a>
        <form asp-controller="Orders" asp-action="AddToCart" asp-route-gameId="@Model.Id" method="post">
            <button type="submit">Покласти в кошик</button>
        </form>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
