@model IEnumerable<VaporDomain.Model.Publisher>

@{
    ViewData["Title"] = "Видавники";
}

<h1>Видавники</h1>
<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-success">Додати видавця</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle"> @Html.DisplayFor(modelItem => item.Name) </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Деталі</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
