@model VaporDomain.Model.PriceHistory

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалити</h1>

<h3>Ви впевненні, що хочете видалити це?</h3>
<div>
    <h4>PriceHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
