@model VaporDomain.Model.PriceHistory

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Історія цін</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |*@
    <a asp-action="Index">Назад до списку</a>
</div>
